<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Playlist Page</title>
</head>
<body>
    <h1>Playlist Page</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Year</th>
            <th>Genre</th>
        </tr>
        <tr th:each="song : ${playlist}">
            <td th:text="${song.title}"></td>
            <td th:text="${song.album.title}"></td>
            <td th:text="${song.album.artist}"></td>
            <td th:text="${song.album.year}"></td>
            <td th:text="${song.album.genre}"></td>
        </tr>
    </table>
    <h2>Add Song to Playlist</h2>
    <form th:action="@{/playlist/add}" method="post">
        <label for="existing">Choose Song</label>
        <div>
        	<select id="existingAlbum" name="album" required>
            	<option value="">-- Choose Song  --</option>
            	<option th:each="song : ${songs}" th:text="${song.title}" th:value="${song.id}"></option>
        	</select>
        </div>
    </form>
</body>
</html>