<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Playlist</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
</head>
<body>
    <h1>Playlist Page</h1>
	<div id = "playlistMain" class = "compartment">
	
	 <h2 th:text="${#strings.unescapeJava(playlist.title)}"></h2> 
    <p th:text="${#strings.unescapeJava(playlist.description)}"></p>
		<form th:action="@{/RemoveSongsFromPlaylist}" method="post">
		    <div class ="content">
		    	<input type="hidden" name="playlistId" th:value="${playlistId}"/>
			    <table>
			        <tbody>
					    <tr>
							<td class="playlistSong card" th:if="${playlistSongsWithAlbum == null or #maps.isEmpty(playlistSongsWithAlbum)}">La playlist non contiene brani.</td>
							<th:block th:if="${playlistSongsWithAlbum != null and not #maps.isEmpty(playlistSongsWithAlbum)}" th:each="entry, iter : ${playlistSongsWithAlbum}">
							  <td class="playlistSong card">
							      <div>
							        <input type="checkbox" name="songIds" th:value="${entry.key.id}"/>
							        <label class="interactable" for="songIds">
					        			<a th:href="@{/GoToPlayer(songId=${entry.key.id})}" th:text="${#strings.unescapeJava(entry.key.title)}"></a>
							        </label>
							      </div>
							      <img loading="lazy" th:src="@{/FileHandler(fileName=${#strings.unescapeJava(entry.value.image)})}" th:alt="${#strings.unescapeJava(entry.value.title)}">
							  </td>
							</th:block>
					    </tr>
			        </tbody>
			    </table>
		    <button class="submit right" th:if="${playlistSongsWithAlbum != null and not #maps.isEmpty(playlistSongsWithAlbum)}" type="submit">Remove selected songs</button>
			</div>

			<div class = "flex">
				<a th:href="@{/GoToPlaylist(playlistId=${playlistId}, playlistPage=${currentPage - 1})}" class="submit spaced" th:if="${currentPage > 1}">
			        Previous
			    </a>
			    <a th:href="@{/GoToPlaylist(playlistId=${playlistId}, playlistPage=${currentPage + 1})}" class="submit spaced" th:if="${currentPage < maxPage}">
			        Next
			    </a>
		    </div>
		</form>

	    <h2>Add Song to Playlist</h2>
		<form method="post" th:action="@{/AddSongsToPlaylist}">
			<div class ="content">
				<input type="hidden" name="playlistId" th:value="${playlistId}"/>
			    <div  class = "card">
			        <label for="song">Songs:</label>
			        <br>
			        <select id="song"
			                name="songIds"
			                multiple required>
			            <option value="" disabled>-- Select songs --</option>
			            <option th:each="song : ${userSongs}"
			                    th:value="${song.id}"
			                    th:text="${#strings.unescapeJava(song.title)}"></option>
			        </select>
			    </div>
			    <button class="submit right" type="submit">Add to Playlist</button>
		    </div>
		</form>
		
		<div class = "footer">
		   	<div class = "flex">
				<a th:href="@{/GoToHome}" class = "card" th:text="Home"></a>		   	
			</div>
		</div>

	</div>
	<div id="errorMain" th:if="${error != null}" th:text="${error}">
	</div>
</body>
</html>