<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/static/css/style.css}" />
	<script defer th:src="@{/static/js/Home.js}"></script>
	<script defer th:src="@{/static/js/Song.js}"></script>
	<script defer th:src="@{/static/js/Playlist.js}"></script>
</head>
<body>
	<div style="display:none" id ="contextPath" th:text="@{/}"></div>
	<div>
	    <h1>Playlist</h1>
	
			<form id="removeSongsFromPlaylistForm" th:action="@{/RemoveSongsFromPlaylist(playlistId=${playlistId})}" method="post">
			    <input type="hidden" name="playlistId" th:value="${playlistId}"/>
			    <table>
					<tbody>
					  <tr>
					  </tr>
					</tbody>
			    </table>
			    <button type="submit">Remove selected songs</button>
			</form>
			<div id="previousPlaylistButton">
		        <a>Previous</a>
		    </div>
			
			<div id="nextPlaylistButton">
		        <a>Next</a>
		    </div>
	
	    <h2>Add Song to Playlist</h2>
		<form id="addSongsToPlaylistForm" method="post" th:action="@{/AddSongsToPlaylist(playlistId=${playlistId})}">
		    <div>
		        <label for="song">Songs:</label>
		        <br>
		        <select id="song"
		                name="songIds"
		                multiple>
		        </select>
		    </div>
		    <button type="submit">Add to Playlist</button>
		</form>
	</div>
	<div >
		<div id = "playerContainer">
		</div>
	</div>
</body>

</html>
