<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="display:none" id ="contextPath" th:text="@{/}"></div>
	<div>
	    <h1>Playlist</h1>
	
		<div th:if="${not #maps.isEmpty(playlistSongsWithAlbum)}">
			<form id="removeSongsFromPlaylistForm" th:action="@{/RemoveSongsFromPlaylist(playlistId=${playlistId})}" method="post">
			    <input type="hidden" name="playlistId" th:value="${playlistId}"/>
			    <table>
					<tbody>
					  <tr>
						<th:block th:each="entry, iter : ${playlistSongsWithAlbum}">
						  <td  class="playlistSong" hidden>
						      <div>
						        <input type="checkbox" name="songIds" th:value="${entry.key.id}"/>
						        <label for="songIds">
						          <a th:data-id="${entry.key.id}" th:text="${entry.key.title}"></a>
						        </label>
						      </div>
						      <img loading="lazy" th:src="@{/FileHandler(fileName=${entry.value.image})}" th:alt="${entry.value.title}">
						  </td>
						</th:block>
					  </tr>
					</tbody>
			    </table>
			    <button type="submit">Remove selected songs</button>
			</form>
			<div id="previousPlaylistButton">
		        <a>Previous</a>
		    </div>
			
			<div id="nextPlaylistButton">
		        <a>Next</a>
		    </div>
		</div>
	
	    <h2>Add Song to Playlist</h2>
		<form id="addSongsToPlaylistForm" method="post" th:action="@{/AddSongsToPlaylist(playlistId=${playlistId})}">
		    <div>
		        <label for="song">Songs:</label>
		        <br>
		        <select id="song"
		                name="songIds"
		                multiple>
		            <option value="">-- Select songs --</option>
		            <option th:each="song : ${userSongs}"
		                    th:value="${song.id}"
		                    th:text="${song.title}"></option>
		        </select>
		    </div>
		    <button type="submit">Add to Playlist</button>
		</form>
	</div>
	<div >
		<div id = "playerContainer">
			<!-- Iterate through each song in the playlist -->
			<div th:each="entry, iter : ${playlistSongsWithAlbum}">
				<th:block th:with="song=${entry.key}, album=${entry.value}">
				    <!-- Hide all other song elements -->
				    <div th:data-id="${song.id}" class = "playerSong" hidden>
				        <!-- Extract the Song and Album from the Map entry -->
				        <h2 th:text="${song.title}"></h2>
				        <img th:src="@{/FileHandler(fileName=${album.image})}" />
				        <!-- Display other details of the song such as artist, album, year, genre, etc. -->
					    <p>Artist: <span th:text="${album.interpreter}"></span></p>
					    <p>Album: <span th:text="${album.title}"></span></p>
					    <p>Album Year: <span th:text="${album.publicationYear}"></span></p>
					    <p>Genre: <span th:text="${song.genre}"></span></p>
			            <!-- Add an audio player for song playback -->
			            <audio preload="none" th:src="@{/FileHandler(fileName=${song.audio})}" controls></audio>
				    </div>
			    </th:block>
			</div>
		</div>

		<div id="previousSongButton">
		    <a>Previous</a>
		</div>
			
		<div id="nextSongButton">
		   <a>Next</a>
		</div>
	</div>
</body>
<script th:src="@{/static/js/Home.js}"></script>
<script th:src="@{/static/js/Song.js}"></script>
<script th:src="@{/static/js/Playlist.js}"></script>

</html>
