<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reorder</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
	<script defer th:src="@{/static/js/Reorder.js}"></script>
</head>
<body>
	<h1>Reorder page</h1>
	<div class="compartment">
		<h2>Drag and drop to reorder</h2>
	    <form method="post" th:action="@{/Reorder}" id="reorderContainer">
	    	<div class="content">
		        <div th:each="song : ${playlistSongs}">
		            <div class="card drag-item wide" draggable="true">
		                <input type="hidden" name="songIds" th:value="${song.id}"/>
		                <span th:text="${#strings.unescapeJava(song.title)}"></span>
		            </div>
				</div>
	        	<input type="hidden" name="playlistId" th:value="${playlistId}"/>
	        	<button class="submit right" type="submit">Save order</button>
	        </div>
	    </form>
	    
		<div class = "footer">
			<div class = "flex">
			    <a th:href="@{/GoToHome(playlistId=${playlistId})}" class = "card" th:text="Home">
				</a>
			</div>
		</div>

	</div>
</body>
</html>